<div style="max-width: 800px; margin: 20px auto; line-height: 1.6;">
    <h2>About yib</h2>
    <p>
        Welcome to yib, a classic-style, self-hosted imageboard project built with Go. It was written in 2025 by Eric Song JE '28.
    </p>
    <p>
        If you have any suggestions or bug reports you may email the webmaster at e(dot)song(at)yale(dot)edu.
    </p>

    <h2>Rules</h2>
    <p>Follow human decency. That's it. Moderation is done on this basis alone.</p>    

    <h2>Acknowledgments & Open Source</h2>
    <p>
        This site was built with the Go programming language and is powered by several fantastic open-source libraries. I am grateful to the developers and communities behind these projects.
    </p>
    <ul>
        <li><a href="https://go.dev/" target="_blank" rel="noopener noreferrer">The Go Programming Language</a></li>
        <li><a href="https://github.com/mattn/go-sqlite3" target="_blank" rel="noopener noreferrer">go-sqlite3</a> for SQLite database support.</li>
        <li><a href="https://github.com/google/uuid" target="_blank" rel="noopener noreferrer">google/uuid</a> for generating unique identifiers.</li>
        <li><a href="https://github.com/go-chi/chi/" target="_blank" rel="noopener noreferrer">go-chi/chi</a> for handling page routing.</li>
    </ul>
    <p>
        Thanks to Alden Okoh-Aduako JE '28 for the Lullaby and 11:59 PM theme, as well as for being an awesome friend.
    </p>
    <p>
        Thanks to Iselin Luu ES '28 for the favicon and also for being an awesome friend.
    </p>
    <p>
        Thanks to my anonymous bug-testing friend.
    </p>

</div>