<div id="content-container">
    <div class="catalog-grid">
        {{range .Threads}}
        <div class="catalog-item">
            <a href="/{{.BoardID}}/thread/{{.ID}}">
                <img src="{{.Op.ImagePath | default "/static/placeholder.png"}}" loading="lazy">
            </a>
            <div class="catalog-stats">
                <b>R:</b> {{.ReplyCount}} / <b>I:</b> {{.ImageCount}}
            </div>
            <div class="catalog-subject">{{.Subject | default "No Subject" | truncate 50}}</div>
            <div>{{.Op.Content | stripHTML | truncate 75 | safeHTML}}</div>
        </div>
        {{end}}
    </div>

    {{template "pagination" .Pagination}}
</div>